{% extends "AppartooBonobosBundle:Default:index.html.twig" %}



{% block title %}Ajouter un ami{% endblock %}
{% block leftside %}
  <center>
  <div class="bg-success">
  {% for message in app.session.flashbag.get('success') %}
       <p>{{ message }}</p>
     {% endfor %}
  </div>
  <div class="bg-danger">
  {% for message in app.session.flashbag.get('error') %}
       <p>{{ message }}</p>
     {% endfor %}
  </div>
  </center>
  <center>
  <h2>Ajouter un ami</h2>
    </center>
  <div ng-app="recherche" ng-controller="rechercheCtrl">
    <p class=well>
      <input type=text style="width:100%; text-align:center;" ng-model="filtre" placeholder="Entrez un nom d'utilisateur ou un e-mail pour filtrer la liste"></input>
    </p>
    <ul class="list-unstyled">
      <li ng-repeat="user in liste | filter: filtre">
        <br><a href="add-{% verbatim %}{{user.id}}{% endverbatim %}" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-plus"></i> add friend</a>
        <a href="../user/{% verbatim %}{{user.username}}{% endverbatim %}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-user"></i></a>
        <b>{% verbatim %}{{user.username}}{% endverbatim %}</b> - <i>{% verbatim %}{{user.email}} {% endverbatim %}</i>
      </li>
    </ul>
  </div>




{% endblock %}

{% block rightside %}
<center>
  <ul class=list-unstyled>
    <li class="well">Connecté en tant que <b>{{ app.user.username }}</b></li>
    <li><a href="{{path('appartoo_bonobos_friends')}}" class="btn btn-primary">Liste d'amis</a></li><br>
    <li><a href="{{path('appartoo_bonobos_homepage')}}" class="btn btn-primary">Retour à l'accueil</a></li><br>
    <li><a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger">Déconnexion</a></li>
  </ul>
</center>
{% endblock %}
